/* Add your CSS styles for social media links here */
.social-media-links {
    display: flex;
    gap: 20px;
    position: absolute;
    margin-top: 13%;
    margin-left: 39%;
  }
  
  .social-media-links a {
    text-decoration: none;
    color: whitesmoke;
   
    /* Change color to your preference */
  }
  
  .social-media-links i {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 5px;
  }
  